<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact | ClayCraft Pottery/title>
        <h2>Contact ClayCraft Pottery</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/products">Products</a>
    <a href="/contact">Contact</a>
    <a href="/login">Login</a>
</nav>

<div class="container">
    <h2>Contact Us</h2>

    <img src="{{ url_for('static', filename='images/contact.jpg') }}">

    <p>Email: claycraftpottery@gmail.com</p>
    <p>Location: Ngong rd Market, Nairobi</p>
    <p>Phone: +254 700 000 000</p>
</div>

</body>
</html>
