<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF_8">
        <title>system Features</title>
        <link rel="stylesheet" href="{{url_forU('static',filename-'css/style.css')}}">
    </head>

    <body>
      
        <h2>System Features</h2>

        <ul>
            <li>User registration and login</li>
            <li>Product advertisement and display</li>
            <li>Customer product viewing</li>
            <li>Order management</li>
            <li>Inventory tracking</li>
            <li>Feedback and reporting</li> 
        </ul>

        

        <a href="/">Back to Home</a>
        
    </body>
</html>