<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF_8">
        <title>Methodology</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    </head>

    <body>




        <h2>System Development Methodology</h2>

        <p>
            The waterfall Model was used in developing this system. The phases included.
        </p>

        <ol>
            <li>Requirement Analysis</li>
            <li>System Design</li>
            <li>Implementation</li>
            <li>Testing</li>
            <li>Deployment</li>

        </ol>

        

        <a href="/">Back to Home</a>
        
    </body>
</html>