<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF_8">
        <title>Objectives</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    </head>

    <body>

        <h2>Objectives of the project</h2>

        <h3>General Objective</h3>
        <p>
            To develop an online advertising system that improves marketing and sales of Pottery products.
        </p>

        <h3>Specific Objectives</h3>
        <ul>
            <li>Enable artisans to advertise their products online</li>
            <li>Increase market reach for Juakali products</li>
            <li>Allow customers to view and order products</li>
            <li>Improve communication between artisans and customers</li>
        </ul>

        

        <a href="/">Back to Home</a>
        
    </body>
</html>