<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Pottery Collection</title>
    <h2>Our Pottery Collection</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/products">Products</a>
    <a href="/contact">Contact</a>
    <a href="/login">Login</a>
</nav>

<div class="container">
    <h2>Available Products</h2>

    <div class="card">
        <img src="{{ url_for('static', filename='images/metal.jpg') }}">
        <h4>Clay Mug</h4>
  <p>Price: KES 800</p>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='images/wood.jpg') }}">
         <h4>Decorative Vase</h4>
  <p>Price: KES 1,200</p>
    </div>
</div>

</body>
</html>
