<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products | ClayCraft Pottery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/products">Products</a>
    <a href="/contact">Contact</a>
    <a href="/login">Login</a>
</nav>

<section class="gallery">
    <div class="gallery-item">
    <img src="{{ url_for('static', filename='images/craft.jpg') }}">
    <h3>Handcrafted Clay Mug</h3>
    <p>
        A beautifully handcrafted clay mug, kiln-fired and glazed
        for durability and everyday use.
    </p>
    <p><strong>Price:</strong> KES 800</p>
</div>

    <div class="gallery-item">
    <img src="{{ url_for('static', filename='images/colors.jpg') }}">
    <h3>Handcrafted Clay Vases</h3>
    <p>
        A beautifully handcrafted clay vases, kiln-fired and glazed
        for durability and everyday use.
    </p>
    <p><strong>Price:</strong> KES 2800</p>
</div>

<div class="gallery-item">
    <img src="{{ url_for('static', filename='images/clay.jpg') }}">
    <h3>Handcrafted Clay Mug</h3>
    <p>
        A beautifully handcrafted clay pot, kiln-fired and glazed
        for durability and everyday use.
    </p>
    <p><strong>Price:</strong> KES 1000</p>
</div>

   
  

    <p>
Handcrafted clay mug, glazed and kiln-fired for durability.
Perfect for tea, coffee, or daily use.
</p>

</section>



<footer class="footer">
    <div class="footer-content">
        <h3>ClayCraft Pottery 🏺</h3>
        <p>&copy; 2026 ClayCraft Pottery</p>
    </div>
</footer>

</body>
</html>
